.footer {
    padding-top: rem(15);
    padding-bottom: rem(15);
    border-top: 0.2px solid #F2F2F2;
    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            gap: rem(20);
        }
    }
}
.links-footer {
    display: flex;
    flex-wrap: wrap;
    gap: rem(50);
    // .links-footer__item
    &__item {
        transition: .5s;
        &:hover{
            transform: rotate(-30deg);
        }
    }
}
